@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GOTHVETICA";
  src: url(/public/assets/Fonts/Gothvetica.ttf);
}
@font-face {
  font-family: "EXO2";
  src: url(/public/assets/Fonts/Exo2.ttf);
}
@font-face {
  font-family: "BIG-JOHN";
  src: url(/public/assets/Fonts/BIG-JOHN.otf);
}
@font-face {
  font-family: "SLIM-JOE";
  src: url(/public/assets/Fonts/Slim-Joe.otf);
}
